{# [START form] #}
{% extends "reference.html" %}

{% block content %}
<h3>{{action}} map</h3>

<div class="media-left">
  {% if map.imageUrl %}
    <img class="map-image" id="img" src="{{map.imageUrl}}">
  {% else %}
    <img class="map-image" src="http://placekitten.com/g/128/192">
  {% endif %}
</div>
<span id="marker" class="glyphicon glyphicon-map-marker"></span>

<form method="POST" enctype="multipart/form-data">

 <div class="form-group">
    <label for="lat">Latitude</label>
    <input type="text" name="lat" id="lat" value="" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="long">Longtitude</label>
    <input type="text" name="long" id="long" value="" class="form-control"/>
  </div>

  <div class="form-group hidden">
    <label for="valX">Value X</label>
    <input type="text" name="valX" id="valX" value="" class="form-control"/>
  </div>

  <div class="form-group hidden">
    <label for="valY">Value Y</label>
    <input type="text" name="valY" id="valY" value="" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success">Add Reference</button>
</form>

<script>
    document.getElementById('img').addEventListener("mousedown", function (e) {
        document.getElementById("valX").value = e.offsetX;
        document.getElementById("valY").value = e.offsetY;

        marker = document.getElementById('marker');
        marker.remove();
        with(marker) {
            style.left = e.pageX + 'px';
            style.top = e.pageY + 'px';
            style.display = 'block';
        }
    });
</script>

{% endblock %}
{# [END form] #}

<!-- <a href="#">
          <span class="glyphicon glyphicon-map-marker"></span>
        </a> -->