{# [START form] #}
{% extends "reference.html" %}

{% block content %}
<h3>{{action}} map</h3>

<script>
    document.getElementById('add-ref').style.display = "none";

    document.getElementById('img').addEventListener("mousedown", function (e) {
        document.getElementById("valX").value = e.offsetX;
        document.getElementById("valY").value = e.offsetY;
    });
</script>

<form method="POST" enctype="multipart/form-data">

 <div class="form-group">
    <label for="lat">Latitude</label>
    <input type="text" name="lat" id="lat" value="" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="long">Longtitude</label>
    <input type="text" name="long" id="long" value="" class="form-control"/>
  </div>

  <div class="form-group hidden">
    <label for="valX">Value X</label>
    <input type="text" name="valX" id="valX" value="" class="form-control"/>
  </div>

  <div class="form-group hidden">
    <label for="valY">Value Y</label>
    <input type="text" name="valY" id="valY" value="" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success">Add Reference</button>
</form>

{% endblock %}
{# [END form] #}
